@{
    ViewData["Title"] = "Home Page";
}

@model ResourceServer.Models.ResourceDescriptionsViewModel
 
<div>
    <h2>Resource Descriptions</h2>
    <table id="resourcedescriptions">
        <tbody>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
            </tr>
            @foreach (var rdDto in Model.RequestDescriptions)
            {
                <tr>
                    <td>@rdDto.Name</td>
                    <td>@rdDto.Id</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

@*<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>*@
